@font-face {
    font-family: 'bring_heartregular';
    src: url('/static/fonts/bringheart-regular-webfont.woff2') format('woff2'),
    	 url('/static/fonts/bringheart-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'pikoregular';
    src: url('/static/fonts/piko-regular-webfont.woff2') format('woff2'),
    	 url('/static/fonts/piko-regular-webfont.woff') format('woff');
}

.homepage {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #4D72A9;
}
.about {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #DEEFF6;
}
.about_content {
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #111111;
}
.navbar {
	position: absolute;
	overflow: hidden;
	margin-bottom: -18px;
	bottom: 0;
	width: 100%;
	z-index: 3;
	
	font-family: pikoregular;
	font-size: 48px;
	line-height: 52px;
	text-align: center;

	color: #FFFFFF;
}
.sectionbar {
	overflow: hidden;
	margin-top: -30px;
	width: 100%;
	font-size: 40px;
	line-height: 52px;
	z-index: 4;
}
.contact_png {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	margin-top: 15em;
	margin-bottom: 15em;
	margin-left: 55em;
	margin-right: 0px;
	width: 90px;
	z-index: 3;
}
.cont_text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 3;

	margin-top: 13em;
	margin-bottom: 13em;
	margin-left: 50px;
	margin-right: 0px;
	padding-top: 60px;
	padding-bottom: 5px;
	width: 500px;

	font-family: pikoregular;
	color: #FFFFFF;
}
.text {
	font-size: 36px;
	width: 210px;
}
.text2 {
	font-size: 45px;
	width: 330px;
}
.text3 {
	font-size: 45px;
	width: 140px;
}
.contact_png img {
	position: absolute;
	width: 45px;
	height: 45px;
}
.img_home {
	display: flex;
	align-self: center;
	position: absolute;
	width: 800px;
	height: 600px;
	z-index: 1;
}
.img_about {
	display: flex;
	align-self: center;
	position: absolute;
	width: 960px;
	height: 720px;
	z-index: 1;
}
.img_box {
	z-index: 2;
	width: 512px;
	height: 479px;
}
.img_profile {
	z-index: 2;
	width: 176px;
	height: 176px;
}
.img_contact {
	display: flex;
	align-items: center;
	position: absolute;
	height: 600px;
	left: 0px;
	margin-top: 170px;
}
.homebtn {
	position: absolute;
	margin-left: -16px;
	bottom: 15px;
	width: 32px;
	height: 32px;
	z-index: 5;
}
header {
	position: absolute;
	margin-top: -12px;
	top: 60px;
	z-index: 3;

	font-family: pikoregular;
	font-size: 36px;
	line-height: 39px;
	text-align: center;

	color: #FFFFFF;
}
footer {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	position: absolute;
}
div {
	display: flex;
	justify-content: space-around;
	width: 100%;
	
}
svg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
}
h1 {
	display: flex;
	justify-content: center;
	align-self: center;
	position: absolute;
	margin-top: -15px;
	z-index: 3;

	font-family: bring_heartregular;
	font-weight: normal;
	font-size: 80px;
	line-height: 100px;
	text-align: center;

	color: #FFFFFF;
	text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.85);
}
h2 {
	margin-top: -6px;
	font-family: bring_heartregular;
	font-weight: normal;
	font-size: 80px;
	text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.85);
}
ul {
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0px;
	margin-left: 275px;
    margin-right: 275px;
}
li {
	display: flex;
	justify-content: space-around;
	margin-top: -25px;
	padding-inline-start: 0px;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}

/* For 4K size 2560px x 1603px */
@media only screen and (min-width: 2000px) {
	.img_home {
		width: auto;
		height: auto;
	}
	header {
		font-size: 90px;
		padding-top: 90px;
	}
	h1 {
		font-size: 180px;
	}
	.navbar {
		font-size: 106px;
	}
	.img_about {
		width: 1780px;
		height: 1320px;
	}
	.sectionbar {
		margin-top: -50px;
		font-size: 105px;
	}
	h2 {
		font-size: 180px;
	}
	.img_box {
		width: 812px;
		height: 779px;
	}
	.img_profile {
		width: 476px;
		height: 476px;
	}
	.img_contact {
		width: 1225px;
		height: 1024px;
		margin-top: 350px;
	}
	.contact_png {
		margin-top: 25em;
		margin-bottom: 25em;
		margin-left: 55em;
		width: 15em;
	}
	.cont_text {
		margin-top: 25.5em;
		margin-bottom: 21em;

	}
	.contact_png img {
		width: 95px;
		height: 95px;
	}
	.text {
		font-size: 66px;
		width: 380px;
	}
	.text2 {
		font-size: 85px;
		width: 620px;
	}
	.text3 {
		font-size: 85px;
		width: 255px;
	}
}

/* Contact Page changed */
@media only screen and (min-width: 0px) and (max-width: 1340px) {
	.img_contact {
		width: 525px;
		height: 324px;
		margin-top: 350px;
	}
	.contact_png {
		margin-left: 35em;
	}
}

@media only screen and (min-width: 1050px) and (max-width: 1240px) {
	.img_about {
		width: 860px;
		height: 620px;
	}
	ul {
		margin-left: 175px;
	    margin-right: 175px;
	}
	h2 {
		font-size: 80px;
	}
	.img_box {
		width: 412px;
		height: 379px;
	}
}

/* Special for my laptop screen */
@media only screen and (min-width: 1049px) and (max-width: 1279px) and (max-height: 750px) {
	.img_home {
		width: 700px;
		height: 500px;
	}
	.img_about {
		width: 700px;
		height: 460px;
	}
	.about_content {
		margin-top: 80px;
		margin-left: 100px;
		margin-right: 100px;
	}
	ul {
		margin-left: 175px;
	    margin-right: 175px;
	}
	h2 {
		font-size: 75px;
	}
	.img_box {
		width: 342px;
		height: 309px;
	}
	.img_contact {
		left: 50px;
		width: 450px;
		height: 250px;
		margin-top: 190px;
	}
	.contact_png {
	    margin-top: 10em;
	    margin-bottom: 5em;
	    margin-left: 35em;
	}
	.cont_text {
		margin-top: 8em;
		margin-bottom: 3em;
	}
	.contact_png img {
		width: 35px;
		height: 35px;
	}
	.text {
		font-size: 26;
	}
	.text2 {
		font-size: 40px;
		width: 305px;
	}
	.text3 {
		font-size: 40px;
	}
}

@media only screen and (min-width: 814px) and (max-width: 1049px) {
	.img_home {
		width: 600px;
		height: 400px;
	}
	header {
		font-size: 30px;
	}
	h1 {
		font-size: 65px;
	}
	.navbar {
		font-size: 38px;
	}
	.img_about {
		width: 760px;
		height: 520px;
	}
	ul {
		margin-left: 75px;
	    margin-right: 75px;
	}
	h2 {
		font-size: 80px;
	}
	.img_box {
		width: 312px;
		height: 279px;
	}
}
@media only screen and (min-width: 770px) and (max-width: 1049px) {
	.img_contact {
		left: unset;
		width: 425px;
		height: 224px;
		margin-top: 350px;
	}
	.contact_png {
		margin-top: 15em;
		margin-bottom: 15em;
		margin-left: 200px;
	}
}
@media only screen and (min-width: 770px) and (max-width: 813px) {
	.img_about {
		width: 640px;
		height: 400px;
	}
	ul {
		margin-left: 45px;
		margin-right: 45px;
	}
	h2 {
		font-size: 70px;
	}
	.about_content {
	    margin-top: 80px;
	}
	.img_box {
		width: 212px;
		height: 176px;
	}
}

/* For Tablet 768px */
@media only screen and (min-width: 655px) and (max-width: 769px) {
	.img_about {
		width: 440px;
		height: 200px;
	}
	ul {
		margin-left: 45px;
		margin-right: 45px;
	}
	h2 {
		font-size: 70px;
	}
	.about_content {
	    margin-top: 80px;
	}
	.img_box {
		width: 212px;
		height: 176px;
	}
	.img_contact {
		left: unset;
		width: 425px;
		height: 224px;
		margin-top: 350px;
	}
	.contact_png {
	    margin-top: 10em;
	    margin-bottom: 5em;
	    margin-left: 100px;
	}
	.cont_text {
		margin-top: 8em;
		margin-bottom: 3em;
	}
	.contact_png img {
		width: 35px;
		height: 35px;
	}
	.text {
		font-size: 26px;
	}
	.text2 {
		font-size: 40px;
		width: 305px;
	}
	.text3 {
		font-size: 40px;
	}
}
@media only screen and (min-width: 505px) and (max-width: 810px) {
	.img_home {
		width: 500px;
		height: 350px;
	}
	header {
		font-size: 27px;
	}
	h1 {
		font-size: 60px;
	}
	.navbar {
		font-size: 35px;
	}
}

@media only screen and (min-width: 455px) and (max-width: 654px) {
	.img_about {
		width: 440px;
		height: 200px;
	}
	ul {
		margin-left: 25px;
		margin-right: 25px;
	}
	h2 {
		font-size: 70px;
	}
	.about_content {
		flex-direction: column;
	    margin-top: 180px;
	    margin-bottom: 90px;
	}
	.img_box {
		width: 212px;
		height: 176px;
	}
	.img_profile {
		width: 150px;
		height: 150px;
	}
	.img_contact {
		left: unset;
		width: 425px;
		height: 224px;
		margin-top: 350px;
	}
	.contact_png {
	    margin-top: 10em;
	    margin-bottom: 5em;
	    margin-left: 90px;
	}
	.cont_text {
		margin-top: 8em;
		margin-bottom: 3em;
	}
	.contact_png img {
		width: 35px;
		height: 35px;
	}
	.text {
		font-size: 26px;
	}
	.text2 {
		font-size: 40px;
		width: 305px;
	}
	.text3 {
		font-size: 40px;
	}
}

/* For Mobile L M S */
@media only screen and (max-width: 454px) {
	.img_about {
		width: 140px;
		height: 50px;
	}
	ul {
		display: grid;
		flex-direction: column;
		margin-left: 15px;
		margin-right: 15px;
	}
	.sectionbar {
		margin-top: -70px;
		font-size: 20px;
	}
	h2 {
		margin-block-end: 0px;
		margin-top: 0px;
		font-size: 40px;
	}
	.about_content {
		flex-direction: column;
	    margin-top: 8em;
	    margin-bottom: 40px;
	}
	.img_box {
		width: 140px;
		height: 114px;
	}
	.img_profile {
		width: 100px;
		height: 100px;
	}
	.img_contact {
		left: unset;
		width: 225px;
		height: 124px;
		margin-top: 50px;
	}
	.contact_png {
	    margin-top: 10em;
	    margin-bottom: 5em;
	    margin-left: unset;
	}
	.cont_text {
		margin-top: 8em;
		margin-bottom: 3em;
	}
	.contact_png img {
		width: 25px;
		height: 25px;
	}
	.text {
		font-size: 16px;
		width: 100px;
		margin-left: -18px;
	}
	.text2 {
		font-size: 25px;
		width: 155px;
	}
	.text3 {
		font-size: 25px;
		width: 50px;
	}
}

@media only screen and (min-width: 300px) and (max-width: 504px) {
	.img_home {
		width: 300px;
		height: 200px;
	}
	header {
		font-size: 20px;
	}
	h1 {
		font-size: 35px;
	}
	.navbar {
		font-size: 28px;
	}
}

@media only screen and (max-width: 299px) {
	.img_home {
		width: 200px;
		height: 100px;
	}
	header {
		font-size: 15px;
	}
	h1 {
		font-size: 20px;
	}
	.navbar {
		font-size: 18px;
	}
}