<!DOCTYPE html>
{% load static %}
<html lang="en">
       
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Event's Putsal</title>
</head>
<body>
	<section class="half container-fluid flex-column flex-lg-row">
		<div class="schedule col-sm h-100 d-flex justify-content-center align-items-center">
			<form method="POST">
				{% csrf_token %}
				{% for field in form %}
				<p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
			    {% endfor %}
			    <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2">Submit</button>
			</form>
		</div>
	</section>

	<section id="event" class="schedule container-fluid w-100 d-flex flex-column flex-lg-row justify-content-center align-items-center" style="background: #87CEEB;">
		<div class="row bg-white m-auto w-50" style="overflow: hidden; overflow-y:auto; height: 70%;">
			{% for i in events %}
			<div ><h5>Title :</h5></div>
			<div><p>{{ i.title }}</p></div>
			<div><h5>Date :</h5></div>
			<div><p>{{ i.date }}</p></div>
			<div><h5>Time :</h5></div>
		    <div><p>{{ i.time }}</p></div>
		    <div><h5>Category :</h5></div>
		    <div><p>{{ i.category }}</p></div>
		    <div><h5>Notes :</h5></div>
		    <div><p>{{ i.notes }}</p></div>

		    <div class="col-sm-12 d-flex align-items-end justify-content-end">
		        <form method="POST" action="{% url 'homepage:eventDelete' i.id %}">
		          {% csrf_token %}
		          <input name="id" value="{{i.id}}" type="hidden">
		          <button type="" class="btn-sm col-2" style="margin-left: 30%; font-size: 0.8rem;">Delete</button>
		        </form>
		    </div>
		    {% endfor %}
		</div>
	</section>
</body>
</html>